#line {
	background-color: black;
  height: 10px;
  width: 500px;
  margin-bottom: 10px;
}
body {
	overflow: hidden;
}
#player {
  margin-bottom: 0;
	background: url('../captain.png') -49px -55px;
}
.dynamicobstacle {
	background-color: red;
  position: relative;
}
