#line {
	background-color: black;
  height: 10px;
  width: 500px;
  margin-bottom: 10px;
}
body {
	overflow: hidden;
}
#player {
  margin-bottom: 0;
	background: url('../captain.png') -49px -55px;
}
.dynamicobstacle {
  position: relative;
}
.background {
	width: 500px;
	background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}
